// Topbar
div()&attributes(isGhostHeader ? {'class': ['topbar', 'topbar-ghost']} : {'class': 'topbar'})
  .topbar-column
    a(href='mailto:support@weditrade.be').hidden-md-down
      i.icon-mail
      | &nbsp; support@weditrade.be
    a(href='tel:032 3 888 88 88').hidden-md-down
      i.icon-bell
      | &nbsp; +32 3 888 88 88


