// Site Footer
footer.site-footer
  .container
    .row
        .col-lg-3.col-md-6
            // Contact Info
            section.widget.widget-light-skin
                h3.widget-title Contacteer Ons
                p.text-white Tel: +32 (0)3 644 76 33 
                p.text-white Fax: +32 (0)3 644 76 29 
                p: a(href='#').navi-link-light support@weditrade.be
                ul.list-unstyled.text-sm.text-white
                    li
                    span.opacity-50 BTW:
                    |  BE0457117448
                    li
                    span.opacity-50 IBAN:
                    | BE52 0012 6934 2909
        .col-lg-3.col-md-6
            // About Us
            section.widget.widget-links.widget-light-skin
                h3.widget-title Over Ons
                ul
                    li: a(href='#') Wie zijn wij
                    li: a(href='#') Leveringsvoorwaarden
                    li: a(href='#') Facturatie en betaling
                    li: a(href='#') Verkoopsvoorwaarden
                    li: a(href='#') Mission statement
