// Navbar
// Remove "navbar-sticky" class to make navigation bar scrollable with the page.
header()&attributes(isGhostHeader ? {'class': ['navbar', 'navbar-sticky', 'navbar-ghost']} : {'class': ['navbar', 'navbar-sticky']})

  // Search
  form(method='get').site-search
    input(type='text', name='site_search' placeholder='Type iets om te zoeken...')
    .search-tools
      span.clear-search Wissen
      span.close-search
        i.icon-cross

  .site-branding
    .inner

      // Off-Canvas Toggle (#mobile-menu)
      a(href='#mobile-menu-wedi-home' data-toggle='offcanvas').offcanvas-toggle.menu-toggle
      
      // Site Logo
      if isGhostHeader
        a()&attributes(isNestedFile ? {'href': '../wedi-index.html'} : {'href': 'wedi-index.html'}).site-logo.light-logo
          +image('img/logo/wedi-logo2.gif', 'Weditrade') 
        a()&attributes(isNestedFile ? {'href': '../wedi-index.html'} : {'href': 'wedi-index.html'}).site-logo.logo-stuck
          +image('img/logo/wedi-logo2.gif', 'Weditrade')
      else
        a()&attributes(isNestedFile ? {'href': '../wedi-index.html'} : {'href': 'wedi-index.html'}).site-logo
          +image('img/logo/wedi-logo2.gif', 'Weditrade')
  
  //-Site Menu
  include menu-home

  // Toolbar
  .toolbar
    .inner
      .tools
        .search
            a(href="wedi-login.html")
            i.icon-lock

        